*.sublime-project
*.sublime-workspace
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
node_modules
npm-debug.log*
.vscode/settings.json
.vscode/spell.json
.vscode/spellchecker.json
**/Thumbs.db
images/notallsecretsareequal/Thumbs.db
images/notallsecretsareequal/Thumbs.db
