---
layout: splash
author_profile: true
title: Making the Complex, Simple
header:
  overlay_image: homesplash.jpeg
  overlay_filter: rgba(50, 50, 50, 0.5)
feature_row:
  - image_path: frontGrid1.jpg
    alt: "Sparkler"
    title: "Sparking new life"
    excerpt: "We are sparking new life into old problems and bringing new thinking to the way finance software is written."
  - image_path: frontGrid2.jpg
    alt: "Duck in calm water"
    title: "Open development"
    excerpt: "Our calm and simple explanation of what might seem complex, but doesn't need to be.'"
    url: "/blog/"
    btn_label: "Read the blog"
    btn_class: "btn--inverse"
  - image_path: frontGrid3.jpg
    title: "Looking forward"
    excerpt: "Emerging frameworks, technology, and services now allow us to build software that takes care of the complex at lightning speed."
---

{% include base_path %}

{% include feature_row %}
