---
layout: splash
author_profile: true
title: Making the Complex, Simple
header:
  overlay_image: homesplash.jpeg
  overlay_filter: rgba(50, 50, 50, 0.5)
feature_row:
  - image_path: frontGrid1.jpg
    alt: "Sparkler"
    title: "Sparking new life"
    excerpt: "We can spark new life and bring fresh ideas to your current problems."
  - image_path: frontGrid2.jpg
    alt: "Duck in calm water"
    title: "Qwack"
    excerpt: "A calm and simple framework in a complex world"
    url: "/blog/"
    btn_label: "Read More"
    btn_class: "btn--inverse"
  - image_path: /assets/images/unsplash-gallery-image-3-th.jpg
    title: "Placeholder 3"
    excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

{% include base_path %}

{% include feature_row %}
